.post-body {
    color: black;
    text-align: justify;
}

.post-body figure {
    font-size: medium;
    text-align: center;
    margin: 2rem 0;
    color: grey;
}

.post-body img {
    max-width: 80%;
    max-height: 80%;
    margin: 1em 0;
}

.post-body h1 {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 1rem;
}

.post-body h2 {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 1rem;
}

.post-body p {
    font-size: large;
    line-height: 1.5em;
    margin: 1em 0;
    color: black;
}

.post-body pre {
    background: #202020;
    padding: 1rem;
    color: white;
}

.post-body blockquote {
    background: lavender;
    padding: 1rem;
    margin: 1rem 0;
    border-left: 5px solid #005C7E;
}

.post-body table {
    width: 80%;
    margin: 1rem auto;
    border: 1px solid grey;
}

.post-body th {
    background: whitesmoke;
}

.post-body th, td {
    padding: 1rem;
    border: 1px solid grey;
}

.post-body a {
    color: blue;
}

.post-body ul {
    margin-bottom: 1rem;
}
.post-body li {
    list-style-type: initial;
    margin: 1rem;
    font-size: large;
    line-height: 1.5em;
}

.post-body ol > li {
    list-style-type: decimal;
    margin: 1em;
}

.event-body {
    color: #F05B5B;
}

.event-body h3 {
    color: #376AED;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 1rem;
}
